body{
    background-color: hsl(257,40%,49%);
    background-image: url(bg-desktop.svg)

}
button{
    border-radius: 24px;
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-top: 15px;
    color: blue;
    border-color: transparent;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}
p,h2,h3,h1{
    color: white;

}
.container{
    display: flex;
}

.left{
    
    padding-right: 50px;
    padding-top: 50px;
    
}
.right{
    
    font-size: 20px;
    text-align: start;
    margin: auto;
    padding-bottom: 30px;
    margin-bottom: 100px;
}
h2{
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
   font-size: 30px;
   
}
h3{
    margin-top: 10px;
    text-size-adjust: 100px;
    font-size: 30px;

}
h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    margin-left: 50px;
    font-size: 40px;
    margin-bottom: 10px;
    
}
h2,h3{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}