h1{
    font-weight: 100;
}

.upper-section p{
    color: black;
    margin: auto;
    opacity: 50%;
}
.upper-section{
    text-align: center;
}
h1{
    line-height: 15px;
}
.card{
    text-align: center;
    

}
form{
    
}