.upper-section{
    text-align: center;
}

#light-headder{
    font-weight: 100;
}
.container{
    max-width: 90%;
    margin: auto;
}


.upper-section p{
    width: 80%;
    margin: auto;
}

h1{
    line-height: 15px;
    opacity: 70%;
}
p{
    opacity: 40%;
}
.card{

    width: 200px;
    border-top: blue 2px solid;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-left: 20px;
    margin: auto;
    margin-bottom: 10px;
}
.lower-section{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.card img{
  display: block;
  margin-left: 60%;

}
h4{
    margin-bottom: -10px;
}
#left, #right{
    transform:translateY(50%);
}
@media{
}
